In [58]:
import pandas as pd
import numpy as np

In [59]:
data1 = pd.read_csv("data/average_monthly_temperature_by_state_1950-2022.csv")
data2 = pd.read_csv("data/epest_county_estimates.csv")
data3 = pd.read_csv("data/save_the_bees.csv")
data4 = pd.read_csv("data/pollution_2000_2021.csv")

In [60]:
data1

,Unnamed: 0,year,state,average_temp,centroid_lon,centroid_lat
0,0,1950,Alabama,63.425000,-86.828372,32.789832
1,1,1950,Arizona,60.166667,-111.664418,34.293110
2,2,1950,Arkansas,60.050000,-92.439268,34.899745
3,3,1950,California,57.841667,-119.610699,37.246071
4,4,1950,Colorado,45.041667,-105.547825,38.998552
...,...,...,...,...,...,...
3499,41515,2022,Virginia,56.537500,-78.812254,37.515024
3500,41516,2022,Washington,46.375000,-120.446866,47.380969
3501,41517,2022,West Virginia,52.500000,-80.613712,38.642599
3502,41518,2022,Wisconsin,41.287500,-90.011694,44.638030
3503,41519,2022,Wyoming,41.600000,-107.551454,42.999642

In [61]:
data2

,Unnamed: 0,COMPOUND,YEAR,STATE_FIPS_CODE,COUNTY_FIPS_CODE,EPEST_LOW_KG,EPEST_HIGH_KG
0,0,"2,4-D",2019,1,1,3955.7,3951.6
1,1,"2,4-D",2019,1,3,2519.1,2901.5
2,2,"2,4-D",2019,1,5,5411.8,5639.1
3,3,"2,4-D",2019,1,7,1404.8,1527.6
4,4,"2,4-D",2019,1,9,17250.2,17384.7
...,...,...,...,...,...,...,...
9562209,9562209,ZOXAMIDE,2009,55,125,NaN,0.2
9562210,9562210,ZOXAMIDE,2009,55,129,NaN,0.5
9562211,9562211,ZOXAMIDE,2009,55,135,5.8,5.8
9562212,9562212,ZOXAMIDE,2009,55,137,76.6,76.6
9562213,9562213,ZOXAMIDE,2009,55,141,2.3,2.3

In [62]:
data3

,Unnamed: 0,state,year,num_colonies,max_colonies,lost_colonies,percent_lost,added_colonies,renovated_colonies,percent_renovated,other_pests_and_parasites,diseases
0,0,Alabama,2015,7750.0,7875.0,1167.5,15.50,1235.0,312.5,4.25,31.225,0.050
1,1,Arizona,2015,36000.0,36750.0,7025.0,19.00,7550.0,10150.0,26.75,19.775,1.775
2,2,Arkansas,2015,18125.0,21125.0,3700.0,16.00,3775.0,1450.0,10.75,29.225,2.375
3,3,California,2015,990000.0,1200000.0,146000.0,11.75,124750.0,144250.0,13.00,15.450,7.375
4,4,Colorado,2015,17125.0,22875.0,2600.0,11.25,2750.0,1260.0,5.00,7.150,7.575
...,...,...,...,...,...,...,...,...,...,...,...,...
370,370,West Virginia,2022,6275.0,7125.0,680.0,10.50,980.0,920.0,12.50,6.950,2.475
371,371,Wisconsin,2022,43750.0,55000.0,5475.0,9.75,3235.0,2480.0,4.25,10.975,7.875
372,372,Wyoming,2022,15625.0,21250.0,2295.0,9.25,1665.0,1025.0,3.75,3.200,3.550
373,373,Other,2022,28680.0,31805.0,990.0,3.25,1590.0,1150.0,3.50,31.925,1.975
374,374,United States,2022,2945105.0,3639980.0,348210.0,12.00,316215.0,263235.0,9.00,15.450,5.100

In [63]:
data4

,Date,Year,Month,Day,Address,State,County,City,O3 Mean,O3 1st Max Value,...,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,2000-01-01,2000,1,1,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.019765,0.040,...,23,25.0,3.000000,9.0,21,13.0,19.041667,49.0,19,46
1,2000-01-02,2000,1,2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.032,...,0,26.0,1.958333,3.0,22,4.0,22.958333,36.0,19,34
2,2000-01-03,2000,1,3,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.009353,0.016,...,8,28.0,5.250000,11.0,19,16.0,38.125000,51.0,8,48
3,2000-01-04,2000,1,4,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.033,...,23,34.0,7.083333,16.0,8,23.0,40.260870,74.0,8,72
4,2000-01-05,2000,1,5,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.007353,0.012,...,2,42.0,8.708333,15.0,7,21.0,48.450000,61.0,22,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608694,2021-06-26,2021,6,26,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.040588,0.049,...,0,1.0,0.409091,0.7,2,0.0,1.281818,2.1,0,2
608695,2021-06-27,2021,6,27,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.037882,0.042,...,0,1.0,0.325000,0.4,4,0.0,1.104167,2.3,20,2
608696,2021-06-28,2021,6,28,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.039765,0.050,...,0,1.0,0.326087,0.5,2,0.0,1.678261,5.8,23,5
608697,2021-06-29,2021,6,29,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.049176,0.058,...,0,1.0,0.317391,0.5,20,0.0,2.934783,7.4,0,7
608698,2021-06-30,2021,6,30,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.052333,0.054,...,0,1.0,0.366667,0.5,3,0.0,2.762500,7.5,5,7

In [64]:
group1 = data1.groupby(["year", "state"])
data1["average_temp"] = group1["average_temp"].transform('mean')
data1 = data1[["year", "state", "average_temp", "centroid_lon", "centroid_lat"]]
data1 = data1.drop_duplicates().reset_index()
data1

      index  year          state  average_temp  centroid_lon  centroid_lat
0         0  1950        Alabama     63.425000    -86.828372     32.789832
1         1  1950        Arizona     60.166667   -111.664418     34.293110
2         2  1950       Arkansas     60.050000    -92.439268     34.899745
3         3  1950     California     57.841667   -119.610699     37.246071
4         4  1950       Colorado     45.041667   -105.547825     38.998552
...     ...   ...            ...           ...           ...           ...
3499   3499  2022       Virginia     56.537500    -78.812254     37.515024
3500   3500  2022     Washington     46.375000   -120.446866     47.380969
3501   3501  2022  West Virginia     52.500000    -80.613712     38.642599
3502   3502  2022      Wisconsin     41.287500    -90.011694     44.638030
3503   3503  2022        Wyoming     41.600000   -107.551454     42.999642

[3504 rows x 6 columns]

In [65]:
group2 = data2.groupby(["YEAR", "COMPOUND", "STATE_FIPS_CODE"])
data2["EPEST_LOW_KG"] = group2["EPEST_LOW_KG"].transform('mean')
data2["EPEST_HIGH_KG"] = group2["EPEST_HIGH_KG"].transform('mean')
data2 = data2[["COMPOUND", "YEAR", "STATE_FIPS_CODE", "EPEST_LOW_KG", "EPEST_HIGH_KG"]]
data2 = data2[(data2["COMPOUND"] == "2,4-D") |
              (data2["COMPOUND"] == "DICAMBA") |
              (data2["COMPOUND"] == "METRIBUZIN") |
              (data2["COMPOUND"] == "GLYPHOSATE") |
              (data2["COMPOUND"] == "CHLORPYRIFOS")]

data2 = data2.drop_duplicates().reset_index()
data2

        index    COMPOUND  YEAR  STATE_FIPS_CODE  EPEST_LOW_KG  EPEST_HIGH_KG
0           0       2,4-D  2019                1   5978.725373    6167.364179
1          67       2,4-D  2019                4    931.073333    1106.166667
2          82       2,4-D  2019                5   7489.600000    8111.634667
3         157       2,4-D  2019                6   2860.728571    2860.728571
4         206       2,4-D  2019                8  16198.977419   16211.847619
...       ...         ...   ...              ...           ...            ...
6715  9434878  METRIBUZIN  2009               51      4.617241       9.022917
6716  9434974  METRIBUZIN  2009               53    844.207692    2067.046154
6717  9435013  METRIBUZIN  2009               54      5.396000       5.680392
6718  9435064  METRIBUZIN  2009               55    174.338095     236.059155
6719  9435135  METRIBUZIN  2009               56      8.581818     404.540000

[6720 rows x 6 columns]

In [66]:
group3 = data3.groupby(["state", "year"])

data3["num_colonies"] = group3["num_colonies"].transform('mean')
data3["max_colonies"] = group3["max_colonies"].transform('mean')
data3["lost_colonies"] = group3["lost_colonies"].transform('mean')
data3["percent_lost"] = group3["percent_lost"].transform('mean')
data3["added_colonies"] = group3["added_colonies"].transform('mean')
data3["renovated_colonies"] = group3["renovated_colonies"].transform('mean')
data3["percent_renovated"] = group3["percent_renovated"].transform('mean')
data3["other_pests_and_parasites"] = group3["other_pests_and_parasites"].transform('mean')
data3["diseases"] = group3["diseases"].transform('mean')

data3 = data3[["state", 
               "year", 
               "num_colonies", 
               "max_colonies", 
               "lost_colonies", 
               "percent_lost", 
               "added_colonies", 
               "renovated_colonies", 
               "percent_renovated", 
               "other_pests_and_parasites", 
               "diseases"]]

data3 = data3.drop_duplicates().reset_index()
data3

,index,state,year,num_colonies,max_colonies,lost_colonies,percent_lost,added_colonies,renovated_colonies,percent_renovated,other_pests_and_parasites,diseases
0,0,Alabama,2015,7750.0,7875.0,1167.5,15.50,1235.0,312.5,4.25,31.225,0.050
1,1,Arizona,2015,36000.0,36750.0,7025.0,19.00,7550.0,10150.0,26.75,19.775,1.775
2,2,Arkansas,2015,18125.0,21125.0,3700.0,16.00,3775.0,1450.0,10.75,29.225,2.375
3,3,California,2015,990000.0,1200000.0,146000.0,11.75,124750.0,144250.0,13.00,15.450,7.375
4,4,Colorado,2015,17125.0,22875.0,2600.0,11.25,2750.0,1260.0,5.00,7.150,7.575
...,...,...,...,...,...,...,...,...,...,...,...,...
370,370,West Virginia,2022,6275.0,7125.0,680.0,10.50,980.0,920.0,12.50,6.950,2.475
371,371,Wisconsin,2022,43750.0,55000.0,5475.0,9.75,3235.0,2480.0,4.25,10.975,7.875
372,372,Wyoming,2022,15625.0,21250.0,2295.0,9.25,1665.0,1025.0,3.75,3.200,3.550
373,373,Other,2022,28680.0,31805.0,990.0,3.25,1590.0,1150.0,3.50,31.925,1.975
374,374,United States,2022,2945105.0,3639980.0,348210.0,12.00,316215.0,263235.0,9.00,15.450,5.100

In [67]:
group4 = data4.groupby(["Year", "State"]) 

data4["O3 Mean"] = group4["O3 Mean"].transform("mean")
data4["O3 1st Max Value"] = group4["O3 1st Max Value"].transform("mean")
data4["O3 AQI"] = group4["O3 AQI"].transform("mean")
data4["CO Mean"] = group4["CO Mean"].transform("mean")
data4["CO 1st Max Value"] = group4["CO 1st Max Value"].transform("mean")
data4["CO 1st Max Hour"] = group4["CO 1st Max Hour"].transform("mean")
data4["CO AQI"] = group4["CO AQI"].transform("mean")
data4["SO2 Mean"] = group4["SO2 Mean"].transform("mean")
data4["SO2 1st Max Value"] = group4["SO2 1st Max Value"].transform("mean")
data4["SO2 1st Max Hour"] = group4["SO2 1st Max Hour"].transform("mean")
data4["SO2 AQI"] = group4["SO2 AQI"].transform("mean")
data4["NO2 Mean"] = group4["NO2 Mean"].transform("mean")
data4["NO2 1st Max Value"] = group4["NO2 1st Max Value"].transform("mean")
data4["NO2 1st Max Hour"] = group4["NO2 1st Max Hour"].transform("mean")
data4["NO2 AQI"] = group4["NO2 AQI"].transform("mean")

data4 = data4[["Year",
              "State",
              "O3 Mean",
              "O3 1st Max Value",
              "O3 AQI",
              "CO Mean",
              "CO 1st Max Value",
              "CO 1st Max Hour",
              "CO AQI",
              "SO2 Mean",
              "SO2 1st Max Value",
              "SO2 1st Max Hour",
              "SO2 AQI", 
              "NO2 Mean", 
              "NO2 1st Max Value",
              "NO2 1st Max Hour",
              "NO2 AQI"]]

data4 = data4.drop_duplicates().reset_index()
data4

,index,Year,State,O3 Mean,O3 1st Max Value,O3 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,0,2000,Arizona,0.026134,0.042833,44.437500,0.746075,1.330795,8.448864,15.169318,2.297970,5.273409,10.405682,7.479545,26.492344,52.827727,15.117045,47.127273
1,880,2000,California,0.025479,0.036392,36.542108,0.647333,0.990486,7.742177,11.267717,1.729387,4.283629,7.633916,6.044754,17.577458,31.664174,11.672803,29.990336
2,9572,2000,Colorado,0.019381,0.032292,30.341598,0.615236,1.013223,8.837466,11.559229,2.118040,15.228650,9.112948,21.570248,14.981307,34.754821,8.763085,32.903581
3,9935,2000,District Of Columbia,0.019348,0.030320,31.041322,1.179749,1.631956,9.713499,18.584022,8.182234,17.484848,10.763085,24.787879,22.719222,39.471074,12.641873,37.294766
4,10298,2000,Florida,0.029239,0.042750,44.727528,0.726884,0.905899,7.376404,10.342697,1.983244,5.342697,9.764045,7.556180,12.453038,27.078652,11.176966,25.573034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,606168,2021,Utah,0.036711,0.048569,53.010197,0.126235,0.216179,5.303195,2.394290,0.737954,1.235962,10.051666,0.977566,11.447172,25.200748,10.382733,23.326309
729,607639,2021,Vermont,0.029017,0.038162,35.553073,0.173265,0.245810,5.977654,2.648045,0.433808,0.611732,7.100559,0.072626,6.412201,14.802235,10.826816,13.502793
730,607818,2021,Virginia,0.032065,0.040229,37.891941,0.217800,0.278022,5.267399,2.976190,0.279514,0.604396,8.139194,0.247253,5.344671,13.201648,11.805861,12.049451
731,608364,2021,Washington,0.027409,0.033477,31.232558,0.188535,0.245930,5.308140,2.593023,0.213906,0.608721,9.982558,0.267442,8.869056,20.622093,11.261628,19.017442
732,608536,2021,Wyoming,0.038833,0.044902,42.631902,0.087689,0.101227,1.380368,1.012270,0.108799,0.331288,9.539877,0.073620,3.202280,9.771779,11.337423,8.858896

In [10]:
data1.to_csv("data/average_monthly_temperature_by_state_1950-2022.csv")
data2.to_csv("data/epest_county_estimates.csv")
data3.to_csv("data/save_the_bees.csv")